* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo1 {
  background-color: #0F172A;
  
}
.encabezado {
  background-color: #0F172A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: fantasy;
}
.logo {
  height: auto;
  width: 220px;                  
}

.btnEncabezado {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.btnEn {
  width: max-content;
  padding: 8px 18px;
  font-size: 18px;
  color: #FBBF24;
  background-color: #0F172A;
  border: 3.5px solid #FBBF24;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;

  
}
.btnEn:hover{
  box-shadow: 1px 1px 12px #FBBF24;
  animation-duration: 2s;
}

.btnEn:hover {
  background-color: #FBBF24;
  color: black;
  transition: all 0.7s ease;
  cursor: pointer;
}

/* ============================ */
/* SLIDER Y BOTON */
/* ============================ */

.slider {
  position: relative; /* Base para que el título no se vaya a otra parte de la web */
  width: 100%;
  
}
.opacidad{
  filter: opacity(40%);
}
.viajaseguro {
  position: absolute;
  top: 15%; /* Lo centra verticalmente */
  left: 50%; /* Lo centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste de centrado perfecto */
  z-index: 99; /* Obliga al título a flotar por ENCIMA de las imágenes del slider */
  pointer-events: none; /* Opcional: permite hacer clic a través del texto si hay botones atrás */
  
  /* Estilos visuales de ejemplo */
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6); 
  font-family: fantasy;
}
.poma {
  position: absolute;
  top: 29%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 99; 
  pointer-events: none;
  color: #FBBF24;
  font-size: 130px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6); 
  font-family: fantasy;
}
.pomaba {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 99;
  pointer-events: none;
  color: #FBBF24;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6); 
  font-size: 130px; 
  font-family: fantasy;
}
.pomabam {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 99;
  pointer-events: none;
  color: #ffffff;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}
.pomabamb {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 99;
  pointer-events: none;
  color: #ffffff;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}
.pomabamba {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 99;
  pointer-events: none;
  color: #ffffff;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.titubtn{
  border-radius: 20px;
  font-size: 28px;
  background-color: #FBBF24;
  caret-color: #FBBF24;
  border: none;
  cursor: pointer;
  font-family: arial;
  font-weight: bold;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 85%;
  left: 35%;
  transform: translate(-50%, -50%); 
  z-index: 99;
  padding: 5px 15px;
}
.titubtn:hover{
  background-color: transparent;
  color: white;
  border: #FBBF24;
  border: solid 3px #FBBF24;
  box-shadow: 1px 1px 12px #FBBF24;
}
.titulobtn{
  border-radius: 20px;
  border: solid 3px #FBBF24;
  font-size: 28px;
  background-color: transparent;
  font-family: arial;
  transform: translate(-50%, -50%); 
  z-index: 99;
  padding: 5px 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 85%;
  left: 65%;

}
.titulobtn:hover{
  background-color: #FBBF24;
  color: rgb(0, 0, 0);
  border: #FBBF24;
  border: solid 3px #FBBF24;
  box-shadow: 1px 1px 12px #FBBF24;
}

/* BARRA DE BUSQUEDA*/

.navbar{
  background-color: #0F172A;
  width: 70%;
  display: flex;
  justify-content:center;
  padding: 15px;
  border: solid 2px #586575;
  border-radius: 18px;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 99;
  display: block;
}

.express{
  width: 100%;
  height: 470px; /* Ajusta este valor: entre más pequeño, más bajita y alargada se verá */
  display: block;
  filter: opacity(65%);
  transition: all 2s ease;
}
.express:hover{
  
  box-shadow: 1px 1px 12px #FBBF24;
  transition: all 3s ease;
  transform: translateY(-5px);
}
.ex {
  position: absolute;
  top: 125%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 99; 
  pointer-events: none;
  color: #ffffff;
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6); 
  font-family: fantasy;
}
.exp {
  position: absolute;
  top: 149%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 99; 
  pointer-events: none;
  color: #ffffff;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6); 
  font-family: cursive;
}


/*RUTAS DISPONIBLES*/
.rut{
  text-align: center;
  font-weight:bold;

}
.horarutas{
  text-align: center;
  font-weight:bold;
  color: #00000088;
}
.cuadro{
  background-color: #0F172A;
  width: 95%;
  border-radius: 10px;
  border: solid 2px #586575;
  box-shadow: 1px 1px 12px #586575;
  
}
.rutas{
  padding: 0 40px;
  width: 30%;
  color: #FBBF24;
  display: inline-block;
  position: relative;
  
}

.rutas::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;           /* Posición debajo de la palabra */
    width: 0;               /* Empieza invisible (sin ancho) */
    height: 3px;
    background-color: #FBBF24;
    transition: width 0.3s ease; /* Hace que se estire suavemente */
}
.rutas:hover::after {
    width: 100%;
}


.lasrutas{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(30px);
  font-size: 30px;
  padding: 20px;
  font-family: cursive;
}

.rutasbrder{
  background-color: #586575;
 border-radius: 10px;

}
.rutasbrder:hover{
  box-shadow: 2px 2px 1dvw #FBBF24;
  transition: all 0.5s ease;
  transform: translateY(-5px);
}

.imgrutas{
  border-radius: 10px;
  padding: 2px;
}
.horarutas{
  text-align: start;
  padding: 5px;
  font-size: 15px;
}
.solesrutas{
  text-align: center;
  padding: 4px;
  color: #0F172A;
  background-color: #FBBF24;
  width: 50%;
  border-radius: 20px;
  border: none;
  margin-bottom: 4px;
  box-shadow: 1px 1px 3vb;
}
.solesrutas:hover{
  transition: all 0.5s ease;
  transform: translateY(-2px);
}

/* ============================ */
/*POR QUE NOSOTROS?*/
/* ============================ */

.lineas{
  width: 96%;
  height: 2px;
  background-color: #FBBF24;
  border: none;
}
.otrasemprs{
  padding: 20px;
  width: 100%;
  background-color: #f8d67f06;
  border-radius: 40px;
  
}
.elejir{
  display: flex;
  width: 100%;
}
.eleji{
  flex: 1;
}

.otrastit{
  text-align: start;
  color: #FBBF24;
  font-family: geneva;
}
.otrastit:hover{
  transition: all 0.5s ease;
  transform: translateY(-2px);
}

.elejirnos1{
  width: 100%;
  height: 200px;
  text-align: start;
  font-family: cursive;
  font-size: 20px;
  color: #ffffffb1;
}






/* ============================ */
/* EMPRESAS ALIADAS */
/* ============================ */

.elejirnos2{
  text-align: start;
  width: 100%;
  height: 200px;
}
.imgempresas{
  border-radius: 10px;
  height: 120px;
  width: 120px;
}
.buttnemprs{
  border: none;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 1px 1px 1vmax #586575;
  padding: 6px;
  font-size: 17px;
  color: #FBBF24;
  margin-left: 400px;
}
.buttnemprs:hover{
  transition: all 0.5s ease;
  transform: translateY(-2px);
  
}

/* ============================ */
/* FOOTER */
/* ============================ */

.footer {
  background-color: #000000;
  text-align: center;
  padding: 30px;
  width: 100%;
  color: #ffffffa9;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-contactos p {
  flex: 1;
  text-align: center;
  font-family: cursive;
}
.derechos {
  background-color: #000000a0;
  color: rgb(73, 72, 72);
  text-align: center;
  width: 100%;
  margin-top: 50px;
}
.footers {
  color: #fbbe24a7;
  font-family: cursive;
  font-size: 23px;
  

}
.footerp {
  color: #ffffffa9;
  font-family: cursive;
  font-size: 15px;
  
}
.imgredes{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.footx{
  font-size: 16px;
  text-align: start;
  
}
.sosiales{
  text-align: start;
}

/*============================= 
PAJINA 2
===============================*/
.fondo2 {
  background-color: #0F172A;
}

.rut_hora{
  text-align: center;
  color: #FBBF24;
  font-family: fantasy;
  font-size: 50px;
}
